.hover-effect {
    position: absolute; 
    z-index: 2; /* Sit on top */
    overflow-x: auto;
    width: 250px; /* Full width */
    height: 500px; /* Full height */
    margin: 0 auto;
    background-color: #ffffff;
    border: 3px solid #FFC108;
    border-radius: 10px;
    box-shadow: 1px 2px 0px 6px rgba(235,224,224,0.75); 
    transform: scale(1);
    display: block;
    animation-name: hoverTransition;
    animation-duration: .5s;

}

@keyframes hoverTransition {
 0% {
    transform: scale(0.9);
   
 } 100% {
    transform: scale(1);
   
 }
} 

.hover-body {
    text-align: center;
}

 .hover-effect .movie-image {
    border-radius: 0;
}

