.new-movies-container {
    width: 95%;
    margin: 0 auto;
    padding-top: 50px;
}

.new-movies-container .new-movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.new-movies-container .new-movies .movie {
    margin-bottom: 30px;
    border: 2px solid #3A445C;
    border-radius: 15px;
    padding-bottom: 5px;
}

.new-movies-container .movie .movie-title {
text-align: center;
}

.new-movies-container .movie .movie-releaseDate {
    text-align: center;
}

.new-movies-container .movie-image img {
    border-radius: 14px;
    transition: all 1s;
}



.new-movies-slider {
    max-width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}


