
.popular-movies-container {
    width: 95%;
    margin: 0 auto;
}

.popular-movies-container .popular-movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.popular-movies-container .popular-movies .movie {
    margin-bottom: 30px;
    border: 2px solid #3A445C;
    border-radius: 15px;
    padding-bottom: 5px;
}

.popular-movies-container .movie .movie-title {
    text-align: center;
    }
    
.popular-movies-container .movie .movie-releaseDate {
        text-align: center;
    }


